@model MyProjectDAL.Entity.Person
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Person", FormMethod.Post))
{
    @Html.ValidationSummary()

    @Html.DisplayNameFor(m => m.PersonName);
    @Html.EditorFor(m => m.PersonName);
    <br />
    @Html.DisplayNameFor(m => m.PersonEmail);
    @Html.EditorFor(m => m.PersonEmail);

    <input type="submit" value="Create" />
}

